<section>
  <div class="vendor-details">
  <h3 class="details" ng-bind="vm.remodel.name"></h3>
  <img width="100%" src="modules/remodels/client/img/pab_details.png"
    alt="PAB Construction">
  <div class="header"> 
    <span class="h5">Friends</span>
      &nbsp;Likes 10 .  &nbsp;Comments 5
  </div>

  <!-- Friend comments -->
  <div class="body">
  <p class="header">
  <img src="modules/fixes/client/img/bryan.jpg" class="person"
    alt="Aaron Vitales"/>
  <span class="person-name">Aaron Vitales</span> commented 
  <span class="pull-right date">November 26, 2016<span>
  </p>
  <p>
    When PAB Construction completes your new home or home remodel, you feel ready for Architectural Digest to come by and begin shooting pictures for their next issue.  My retirement home has become a place that is a visual wonder of magnificent design and beauty as well as providing a magnificent space to work in, entertain, and live in.  I never plan to move, and when guests visit, they never want to leave.
  </p>
  <p>
Thank you so much for surrounding me with so much beauty!!!
  </p> 
  </div>

  <!-- Friend comments -->
  <div class="body">
  <p class="header">
  <img src="modules/fixes/client/img/lisa.jpg" class="person"
    alt="Aimee Long"/>
  <span class="person-name">Aimee Long</span> commented 
  <span class="pull-right date">October 15, 2016<span>
  </p>
  <p>
  Thank you PAB Construction for doing such an excellent job on the architectural designs for my home. I would definitely recommend this business to anyone.
  </p>
  </div>

  <!-- View more -->
  <div class="more"> View 3 more friend's comments
    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
  </div>
  
  <!--Other comments -->
  <div class="header"> 
    <span class="h5">Others</span>
      &nbsp;Likes 138 .  &nbsp;Comments 40
  </div>
  <div class="body">
  <p class="header">
  <img src="modules/fixes/client/img/mike_powers.jpg" class="person"
    alt="Sean Byington"/>
  <span class="person-name">Sean Byington</span> commented 
  <span class="pull-right date">October 28, 2016<span>
  </p>
  <p>
    I cannot express how ecstatic I am about the transformation of our house after PAB Construction completed the remodel of our kitchen and family room. Moe's eye for design and the wow factor is truly inspirational.  He came in and listened carefully to our requirements and design goals and created a design that far surpassed our highest expectations.
  </p>
  <p>
  The details are incredible!  His staff was always polite and tidy and the job completed in the time frame given and on budget.  If you want a design that is personalized and more exceptional than anything else you've seen, you need to hire Moe!  He is the best!  
</p>
  </div>

  <div class="body">
  <p class="header">
  <img src="modules/fixes/client/img/adam.jpg" class="person"
    alt="Brandon Davis"/>
  <span class="person-name">Brandon Davis</span> commented 
  <span class="pull-right date">December 23, 2016<span>
  </p>
  <p>
    After interviewing 4 or 5 contractors, I chose Moe. I was not disappointed.  His job came in on bid and most importantly he was always on time.  They cleaned up every night when they were done which was important to my wife.  His addition was gorgeous.  I would definitely use him again...  Moe, you're the best.
  </p>
  </div>

  <!-- View more -->
  <div class="more"> View 38 more comments
    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
  </div>


  </div>
</section>
