<section>
  <div class="panel panel-default">
    <div class="panel-body">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      Give a recommendation, or share an Article
      <button type="button" class="btn btn-info pull-right">Recommend/Share</button>
    </div>
  </div>

  <!-- Vendor -->
  <div class="panel panel-default vendor">
    <div class="panel-heading">
      <span class="h5">Cathy White</span> likes this
    </div>
    <div class="panel-body body">
      <div class="h5">PAB Construction</div>
      <a ui-sref="remodels.view({remodelId: 1})">
      <img width="100%" src="modules/fixes/client/img/pab.jpg"
        alt="PAB Construction">
      </a>
      <div>
      We specialize in design/build, new construction, custom homes, remodeling and additions throughout the South Bay and lower Peninsula of the San Francisco Bay Area. ... more
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-4">
          <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
          &nbsp;27 Likes
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          &nbsp;20 Comments
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
          &nbsp;Share
        </div>
      </div>
    </div>
  </div>    

  <!-- Vendor -->
  <div class="panel panel-default vendor">
    <div class="panel-heading">
      <span class="h5">Bryan Jacobs</span> likes this
    </div>
    <div class="panel-body body">
      <div class="h5">European Auto Performance</div>
      <a ui-sref="fixes.view({fixId: 1})">
        <img width="100%" src="modules/fixes/client/img/european_auto.jpg"
          alt="European Auto Performance">
      </a>
      <div>
      Welcome to European Auto Performance Inc, the place where quality is never compromised. We are a full-service auto repair shop in Cupertino ... more
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-4">
          <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
          &nbsp;53 Likes
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          &nbsp;10 Comments
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
          &nbsp;Share
        </div>
      </div>
    </div>
  </div> 

</section>
