<section>
  <div class="vendor-details">
  <h3 class="details" ng-bind="vm.fix.name"></h3>
  <img width="100%" src="modules/fixes/client/img/european_auto_details.png"
    alt="European Auto Performance">
  <div class="header"> 
    <span class="h5">Friends</span>
      &nbsp;Likes 10 .  &nbsp;Comments 5
  </div>

  <!-- Friend comments -->
  <div class="body">
  <p class="header">
  <img src="modules/fixes/client/img/bryan.jpg" class="person"
    alt="Bryan Jacobs"/>
  <span class="person-name">Bryan Jacobs</span> commented 
  <span class="pull-right date">December 26, 2016<span>
  </p>
  <p>
    This is the best in the entire bay area for Mercedez vehicles. Both boss and technicians are very nice, professional and considerable for customers. Furthermore, they tried best to save money for customers, because the initial invoice price was much higher than the final charge.
  </p>
  <p> The boss was very kind and nice, and it was a great experience to work with his team.
  </p> 
  <p>If there were 6 stars, I would like to give them full 6 stars.  
  I will definitely refer my friends who have Mercedez cars to this shop.
  </p>
  </div>

  <!-- Friend comments -->
  <div class="body">
  <p class="header">
  <img src="modules/fixes/client/img/lisa.jpg" class="person"
    alt="Lisa Giordano Bontemps"/>
  <span class="person-name">Lisa Giordano Bontemps</span> commented 
  <span class="pull-right date">December 15, 2016<span>
  </p>
  <p>
    We've been coming here for years for my mom's car. Nevin is nice and very knowledgeable . He works fast and does a very good job. 
After I bought my car, I've been coming here too. Whether is for regular oil change, parts upgrade, or repair. Way cheaper than other places without sacrificing quality. They definitely know their German cars. 
  </p>
  <p> Very easy to contact. They are very responsive to phone calls and super easy to make an appointment.
  </p>
  <p>
I had to get my code read for my car a couple of times and Nevin did it for free. And I didn't even end up doing any repairs. 
Recommended this place to all my friends who drive German cars.
  </p>
  </div>

  <!-- View more -->
  <div class="more"> View 3 more friend's comments
    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
  </div>
  
  <!--Other comments -->
  <div class="header"> 
    <span class="h5">Others</span>
      &nbsp;Likes 138 .  &nbsp;Comments 40
  </div>
  <div class="body">
  <p class="header">
  <img src="modules/fixes/client/img/mike_powers.jpg" class="person"
    alt="Mike Powers"/>
  <span class="person-name">Mike Powers</span> commented 
  <span class="pull-right date">December 28, 2016<span>
  </p>
  <p>
    The starter on my 2008 BMW 328i failed so I had the car towed here for service. $760 including $400 for aftermarket starter and $360 in labor. The exact same starter retails for $120. Labor charge very reasonable because the starter on this model is difficult to access and is easily a 4-hour job. Good work, but 30% to 40% overpriced.
  </p>
  </div>

  <div class="body">
  <p class="header">
  <img src="modules/fixes/client/img/adam.jpg" class="person"
    alt="Adam"/>
  <span class="person-name">Adam</span> commented 
  <span class="pull-right date">December 23, 2016<span>
  </p>
  <p>
    Solid service that fixed my car promptly.  Was very impressed.  Would come back.
  </p>
  </div>

  <!-- View more -->
  <div class="more"> View 38 more comments
    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
  </div>


  </div>
</section>
