<section>
  <div class="page-header">
    <h1>Automotives</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="automotive in vm.automotives"
       ui-sref="automotives.view({ automotiveId: automotive._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="automotive.created | date:'mediumDate'"></span>
        by
        <span ng-if="automotive.user" ng-bind="automotive.user.displayName"></span>
        <span ng-if="!automotive.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="automotive.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.automotives.$resolved && !vm.automotives.length">
    No Automotives yet, why don't you <a ui-sref="automotives.create">create one</a>?
  </div>
</section>
